.flex-1{
    flex: 1;
}
.table-fixed{
    table-layout: fixed;
}

.color-box {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: grab;
}

/* .mapa-container {
    position: relative;
    border: 1px solid #ccc;
    background: url("./atual.jpg") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 300px; 
    overflow: hidden;
} */

.wrapper-imgUpload {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.75rem;
    width: 100%;
    max-width: 900px;
    height: 350px;
    border: 1px solid #ccc;
}
.wrapper-imgUpload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.75rem;
}

.pino {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #000;
    cursor: grab;
}
