.flex-1{
    flex: 1;
}
.table-fixed{
    table-layout: fixed;
}

.color-box {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: grab;
}

.pin {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #000;
    cursor: grab;
}
